<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
{% extends 'includes/layout.html' %}
{% block body %}

<header>

	<div class="parallax" style="background-image: url(/static/images/background.png);"id="banner">
	</div>

</header>

<div class="text-center">
<img src="/static/images/sep.png"/>

<img src="/static/images/sep.png"/>
</div>
<div class = "container">

</div>
<img src="/static/images/NSLE line.jpg" >


{% endblock %}

</body>
</html>
