<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MRT Status</title>
</head>
<body>
{% extends 'includes/layout.html' %}
{% block body %}

<header>
    <div class="parallax" style="background-image: url(/static/images/background.png);"id="banner">
	</div>
</header>

<div class="text-center">
<img src="/static/images/sep.png"/>

<img src="/static/images/sep.png"/>
</div>
<div class = "container">

</div>
<section id="contactus">

	<div class="text-center">
	<img src="/static/images/sep.png"/>
	<h2>MRT Status</h2>
	<p> Realtime MRT statuses for every line. </p>
	<img src="/static/images/sep.png"/>
	</div>


<div class="linez-txt">
<p> <div class = "nsl"> North South Line </div> Status: <div class = "online">ONLINE</div> </p>
<p> <div class = "cc">Circle Line</div> Status: <div class = "online">ONLINE</div> </p>
<p> <div class = "ewl">East West Line</div> Status: <div class = "online">ONLINE</div> </p>
<p> <div class = "nel">North East Line </div>Status: <div class = "online">ONLINE</div> </p>
<p> <div class = "dtl">Downtown Line</div> Status: <div class = "online">ONLINE </div> </p>
</div>


</section>

{% endblock %}
</body>
</html>
