<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<link rel="icon" href="../../static/images/HomePageLogo.png"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" href="../../static/css/navigationbar.css"/>
		<link rel="stylesheet" href="../../static/css/pubtrans.css"/>
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
        <script src="../../static/js/jquery.slim.min.js"></script>
        <script src="../../static/js/tether.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="wrapper" id="wrapper">
        <nav class="navbar-inverse navbar-toggleable-md justify-content-context">
			<div class="menu-nav">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<ul class="a">
                    <li class="nav-item"><img src="../../static/images/HomePageLogo.png" alt="logo" class="logo"/></li>
					<li class="nav-item"><a href="#Home" class="mg">Home</a></li>
					<li class="nav-item"><a href="#Mrt Timing" class="mg">MRT Timing & Exits</a></li>
					<li class="nav-item"><a href="#MRT Route" class="mg">MRT Routes</a></li>
					<li class="nav-item"><a href="#Mrt Details" class="mg">MRT Sensor</a></li>
					<li class="nav-item"><a href="#Mrt Details" class="mg">MRT Status</a></li>
					<li class="nav-item"><a href="#Public Transportation" class="mg">Public Transportation</a></li>
					<li class="nav-item"><a href="#Mrt Details" class="mg">Feedback</a></li>
				</ul>
		   </div>
		</nav>
	</div>
	<!--header-->
	<header>
		<div class="parallax" style="background-image: url('../../static/images/banner.jpg');" id="background">
		</div>
	</header>
	<div class="wrapper">
	<div class="row">
            <div class="col-12" align="middle">
                <marquee>This calculator is to help you see approximately the cost of owning a vehicle in Singapore. Results given are not accurate as prices change over time. </marquee>
                <h2>Pick a vehicle</h2>
                <table>
                    <tr>
                        <td>
                            <div class="cherry">
                                <img src="http://www.monitor.co.ug/image/view/-/3843946/highRes/1584877/-/maxw/600/-/ahul9rz/-/wish.jpg" class="jelly" id="jelly">
                                <div class="overlay">
                                    <div class="text">
                                        Toyota Wish $109,888<br>
                                        COE Category B & E</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="cherry">
                                <img src="http://www.telegraph.co.uk/content/dam/motoring2/2015/12/02/1-2016-BMW-7-series-front-xlarge-xlarge_trans_NvBQzQNjv4BqrWYeUU_H0zBKyvljOo6zlkYMapKPjdhyLnv9ax6_too.jpg" class="jelly" id="jelly">
                                <div class="overlay">
                                    <div class="text">
                                        Toyota Vios $89,988<br>
                                        COE Category A & E</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="cherry">
                                <img src="http://www.brm.co.nz/wp-content/uploads/2017/07/H-D-StreetRod-YM17-0864.jpg?x43905" class="jelly" id="jelly">
                                <div class="overlay">
                                    <div class="text">
                                            Harley-Davidson Street Rod $19,900<br>
                                            COE Category D & E
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <input type="radio" name="vehicle" value="Toyota Wish">
                        </td>
                        <td style="text-align:center">
                            <input type="radio" name="vehicle" value="Toyota Vios">
                        </td>
                        <td style="text-align:center">
                            <input type="radio" name="vehicle" value="Harley-Davidson Street Rod">
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    <div class="row" style="margin: auto; width: auto; height: auto;">
        <hr/>
        <div class="col-12">
            <table class="frost">
                <tr>
                    <td>
                        <ul>
                            <li><input type="checkbox" name="license" value="license" checked>+ Driver's License</li>
                            <li>+ COE (Certificate of Entitlement)</li>
                            <li>+ Registration Fee</li>
                            <li>+ Car Insurance</li>

                        </ul>
                    </td>
                    <td>
                        <h1>PLUS</h1>
                    </td>
                    <td>
                        <ul>
                            <li><input type="checkbox" name="loan" value="loan" checked>+ Monthly Car Installments</li>
                            <li>+ Maintenance Cost</li>
                            <li>+ Road Tax</li>
                            <li>+ Miscellaneous Costs (Petrol & Parking)</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">

    </div>
	</div>
	</body>
</html>