<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<link rel="icon" href="HomePageLogo.png"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" href="static/css/section.css"/>
		<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
        <script src="static/js/jquery.slim.min.js"></script>
        <script src="static/js/tether.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="wrapper" id="wrapper">
        <nav class="navbar-inverse navbar-toggleable-md justify-content-context">
			<div class="menu-nav">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<ul class="a">
                    <li class="nav-item"><img src="HomePageLogo.png" alt="logo" class="logo"/></li>
					<li class="nav-item"><a href="#Home" class="mg">Home</a></li>
					<li class="nav-item"><a href="#Mrt Timing" class="mg">MRT Timing & Exits</a></li>
					<li class="nav-item"><a href="#MRT Route" class="mg">MRT Routes</a></li>
					<li class="nav-item"><a href="#Mrt Details" class="mg">MRT Sensor</a></li>
					<li class="nav-item"><a href="#Mrt Details" class="mg">MRT Status</a></li>
					<li class="nav-item"><a href="#Public Transportation" class="mg">Public Transportation</a></li>
					<li class="nav-item"><a href="#Mrt Details" class="mg">Feedback</a></li>
				</ul>
		   </div>
		</nav>
	</div>
	<!--header-->
	<header>
		<div class="parallax" style="background-image: url('banner.jpg');"id="background">
		</div>
	</header>
	<div class="row">
	<div class = "col-6">
		<div class = "jelly">
			<p>Owning a personal vehicle in Singapore can be costly. There are many things to consider before buying a car, truck, motorcycle, van, etc.
			COE fees, ERP rates, VEC fees, Petrol cost, Taxes.<p>
		</div>
	</div>
	<div class="col-6">
		<h3>Calculate!</h3>
			<p>"Every year, you might expect to pay an average of S$1,473 a year on car insurance,
				S$621 for servicing/maintenance costs, S$742 in road tax, and S$2,341 in petrol costs."--
			<a href="https://www.valuepenguin.sg/costs-car-ownership-singapore">valuepenguin.sg</a>
			Calculate the approximated total cost of owning your own vehicle.</p>
	</div>
	</div>
	<div class="row">
	<div class="col-7">
			<h3>Driving vs Other Travelling Methods</h3>
			<table>
				<tr>
					<th>Public Transport + Walking</th>
					<th>Cycling</th>
					<th>Driving</th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>Low cost</li>
							<li>No other fees</li>
							<li>Able to avoid traffic jams</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Increase cardiovascular fitness</li>
							<li>Increase muscle strength and flexibility</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Contributes to the amount of pollutant being released in Singapore</li>
							<li>Taxes, COE fees, ERP fees, etc…</li>
							<li>Repairing and engine cost</li>
						</ul>
					</td>
				</tr>
			</table>
	</div>
	<div class="col-5">
		<h3>PSI Readings</h3>
			<p><iframe width="600" height="400" src="https://data.gov.sg/dataset/pm2-5/resource/fa0958a9-bade-419e-9475-cbf5ccf4f746/view/19acb1a8-ceda-4c9a-aff8-1adcd8e70b1c" frameBorder="0"> </iframe>
			<p>Common types of pollutants:</p>
				<ul>
					<li>Sulphur Dioxide</li>
					<li>Nitrogen Dioxide</li>
				</ul>
			</p>
	</div>
	</div>
	</body>
</html>