<!DOCTYPE html>
<html>
<head>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop no-websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms no-csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><head>
<!--//Clickjacking - Framable Page Security Vulernability - HS20150812 -->
<style id="antiClickjack">body{display:none !important;}</style>
     {% from 'includes/_formhelpers.html' import render_field %}
<script type="text/javascript">
<!--
   if (self === top) {
       var antiClickjack = document.getElementById("antiClickjack");
       antiClickjack.parentNode.removeChild(antiClickjack);
   } else {
       top.location = self.location;
   }
-->
</script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style media="screen"></style>
<meta name="keywords" content="transitlink,eguide,bus,mrt,lrt,services">
<meta name="description" content="TransitLink eService">
<meta charset="utf-8">
<meta http-equiv="X-Frame-Options" content="deny"> <!-- //HS201705 fix for framable page -->
<title>TransitLink eGuide - MRT / LRT Enquiry</title>
<link rel="stylesheet" type="text/css" href="/static/css/eservice.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/tl_main.css" media="all" />
<!--[if lt IE 8]><link rel="stylesheet" href="../css/ie.css" type="text/css" media="screen" /><![endif]-->
<!--  <script type="text/javascript" src="../js/jquery-1.6.1.min.js"></script>-->
<script type="text/javascript" src="/static/js/png.js"></script>
<script>DD_belatedPNG.fix('img, .xpng');</script>
<script type="text/javascript" src="/static/js/modernizr-1.7.min.js"></script>
<script type="text/javascript" src="/static/js/eguide.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29711756-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script></head>

<body><!-- Change this ID to what page you are in, this is useful if you are using CSS to style your navigation //-->

<div id="Content-eservice">
<table width="100%" border="0">
<!--
    <tr>
  <td width="10%"><img src="../imgs/transitlink_logo_60.jpg" /></td>
  <td><img src="../imgs/title/eguide.png" alt="Electronic Guide"></td>

  <!-- Add Mobile Services Icons -->
  <!--
  <td width="200">
   <table>
    <tr>
		<td rowspan="2"><img src="../../imgs/eservice/transitlink_mobile_services.png" alt="TransitLink Mobile Services"></td>
		<td valign="bottom"><a href="https://itunes.apple.com/sg/app/transitlink-mobile-services/id667933103?mt=8"><img src="../../imgs/eservice/app_store_badge.png" alt="TransitLink Mobile Services" target="_blank" border="0" width="100"></a></td>
	</tr>
	<tr>
		<td><a href="https://play.google.com/store/apps/details?id=sg.com.transitlink&hl=en"><img src="../../imgs/eservice/play_store_badge.png" alt="TransitLink Mobile Services" target="_blank" border="0" width="100"></a></td>
	</tr>
    </table>
  </td>
</tr>
</table>
<article>

<p>E-Guide provides a convenient one-stop information guide on bus and train services.</p><section>
-->

<article>
<script language="JavaScript" src="/static/js/eguide.js"></script>
<h2>MRT / LRT ENQUIRY</h2>
<p>For MRT / LRT fares and travel times, please select boarding and alighting stations.</p>
	<section class="eguide-table">

		<form  method="post">

		  <dl class="eguide">

		    <dt><strong>Boarding Station</strong></dt>
			<dd>
                {{ render_field(form.dropDownBox) }}
                <!--
		    <select name="mrtcode_start" >
                <option value="index">< Select Boarding Station ></option>
<option value="44">Admiralty [NS10]</option>
<option value="34">Aljunied [EW9]</option>
<option value="2">Ang Mo Kio [NS16]</option>
<option value="119">Bakau [SE3]</option>
<option value="57">Bangkit [BP9]</option>
<option value="201">Bartley [CC12]</option>
<option value="229">Bayfront [CE1/DT16]</option>
<option value="309">Beauty World [DT5]</option>
<option value="38">Bedok [EW5]</option>
<option value="327">Bedok North [DT29]</option>
<option value="328">Bedok Reservoir [DT30]</option>
<option value="319">Bencoolen [DT21]</option>
<option value="321">Bendemeer [DT23]</option>
<option value="3">Bishan [NS17/CC15]</option>
<option value="109">Boon Keng [NE9]</option>
<option value="27">Boon Lay [EW27]</option>
<option value="217">Botanic Gardens [CC19/DT9]</option>
<option value="4">Braddell [NS18]</option>
<option value="215">Bras Basah [CC2]</option>
<option value="103">Buangkok [NE15]</option>
<option value="31">Bugis [EW12/DT14]</option>
<option value="28">Bukit Batok [NS2]</option>
<option value="29">Bukit Gombak [NS3]</option>
<option value="54">Bukit Panjang [BP6/DT1]</option>
<option value="20">Buona Vista [EW21/CC22]</option>
<option value="216">Caldecott [CC17]</option>
<option value="307">Cashew [DT2]</option>
<option value="65">Changi Airport [CG2]</option>
<option value="122">Cheng Lim [SW1]</option>
<option value="114">Chinatown [NE4/DT19]</option>
<option value="25">Chinese Garden [EW25]</option>
<option value="30">Choa Chu Kang [NS4/BP1]</option>
<option value="11">City Hall [NS25/EW13]</option>
<option value="113">Clarke Quay [NE5]</option>
<option value="21">Clementi [EW23]</option>
<option value="19">Commonwealth [EW20]</option>
<option value="117">Compassvale [SE1]</option>
<option value="132">Coral Edge [PE3]</option>
<option value="130">Cove [PE1]</option>
<option value="209">Dakota [CC8]</option>
<option value="136">Damai [PE7]</option>
<option value="10">Dhoby Ghaut [NS24/NE6/CC1]</option>
<option value="64">Dover [EW22]</option>
<option value="303">Downtown [DT17]</option>
<option value="214">Esplanade [CC3]</option>
<option value="36">Eunos [EW7]</option>
<option value="63">Expo [CG1/DT35]</option>
<option value="58">Fajar [BP10]</option>
<option value="123">Farmway [SW2]</option>
<option value="110">Farrer Park [NE8]</option>
<option value="218">Farrer Road [CC20]</option>
<option value="126">Fernvale [SW5]</option>
<option value="318">Fort Canning [DT20]</option>
<option value="322">Geylang Bahru [DT24]</option>
<option value="69">Gul Circle [EW30]</option>
<option value="116">HarbourFront [NE1/CC29]</option>
<option value="223">Haw Par Villa [CC25]</option>
<option value="308">Hillview [DT3]</option>
<option value="219">Holland Village [CC21]</option>
<option value="104">Hougang [NE14]</option>
<option value="320">Jalan Besar [DT22]</option>
<option value="60">Jelapang [BP12]</option>
<option value="67">Joo Koon [EW29]</option>
<option value="24">Jurong East [NS1/EW24]</option>
<option value="134">Kadaloor [PE5]</option>
<option value="326">Kaki Bukit [DT28]</option>
<option value="33">Kallang [EW10]</option>
<option value="120">Kangkar [SE4]</option>
<option value="51">Keat Hong [BP3]</option>
<option value="37">Kembangan [EW6]</option>
<option value="222">Kent Ridge [CC24]</option>
<option value="23">Khatib [NS14]</option>
<option value="310">King Albert Park [DT6]</option>
<option value="105">Kovan [NE13]</option>
<option value="47">Kranji [NS7]</option>
<option value="124">Kupang [SW3]</option>
<option value="225">Labrador Park [CC27]</option>
<option value="26">Lakeside [EW26]</option>
<option value="32">Lavender [EW11]</option>
<option value="127">Layar [SW6]</option>
<option value="111">Little India [NE7/DT12]</option>
<option value="203">Lorong Chuan [CC14]</option>
<option value="207">MacPherson [CC10/DT26]</option>
<option value="13">Marina Bay [NS27/CE2]</option>
<option value="68">Marina South Pier [NS28]</option>
<option value="46">Marsiling [NS8]</option>
<option value="205">Marymount [CC16]</option>
<option value="323">Mattar [DT25]</option>
<option value="131">Meridian [PE2]</option>
<option value="210">Mountbatten [CC7]</option>
<option value="7">Newton [NS21/DT11]</option>
<option value="141">Nibong [PW5]</option>
<option value="212">Nicoll Highway [CC5]</option>
<option value="6">Novena [NS20]</option>
<option value="135">Oasis [PE6]</option>
<option value="221">one-north [CC23]</option>
<option value="8">Orchard [NS22]</option>
<option value="15">Outram Park [EW16/NE3]</option>
<option value="224">Pasir Panjang [CC26]</option>
<option value="42">Pasir Ris [EW1]</option>
<option value="35">Paya Lebar [EW8/CC9]</option>
<option value="56">Pending [BP8]</option>
<option value="55">Petir [BP7]</option>
<option value="53">Phoenix [BP5]</option>
<option value="66">Pioneer [EW28]</option>
<option value="108">Potong Pasir [NE10]</option>
<option value="213">Promenade [CC4/DT15]</option>
<option value="101">Punggol [NE17/PTC]</option>
<option value="139">Punggol Point [PW3]</option>
<option value="18">Queenstown [EW19]</option>
<option value="12">Raffles Place [NS26/EW14]</option>
<option value="121">Ranggung [SE5]</option>
<option value="17">Redhill [EW18]</option>
<option value="129">Renjong [SW8]</option>
<option value="133">Riviera [PE4]</option>
<option value="317">Rochor [DT13]</option>
<option value="118">Rumbia [SE2]</option>
<option value="137">Sam Kee [PW1]</option>
<option value="140">Samudera [PW4]</option>
<option value="59">Segar [BP11]</option>
<option value="43">Sembawang [NS11]</option>
<option value="102">Sengkang [NE16/STC]</option>
<option value="61">Senja [BP13]</option>
<option value="106">Serangoon [NE12/CC13]</option>
<option value="40">Simei [EW3]</option>
<option value="311">Sixth Avenue [DT7]</option>
<option value="9">Somerset [NS23]</option>
<option value="143">Soo Teck [PW7]</option>
<option value="50">South View [BP2]</option>
<option value="211">Stadium [CC6]</option>
<option value="314">Stevens [DT10]</option>
<option value="142">Sumang [PW6]</option>
<option value="206">Tai Seng [CC11]</option>
<option value="41">Tampines [EW2/DT32]</option>
<option value="331">Tampines East [DT33]</option>
<option value="329">Tampines West [DT31]</option>
<option value="312">Tan Kah Kee [DT8]</option>
<option value="39">Tanah Merah [EW4]</option>
<option value="14">Tanjong Pagar [EW15]</option>
<option value="52">Teck Whye [BP4]</option>
<option value="304">Telok Ayer [DT18]</option>
<option value="226">Telok Blangah [CC28]</option>
<option value="62">Ten Mile Junction [BP14]</option>
<option value="125">Thanggam [SW4]</option>
<option value="16">Tiong Bahru [EW17]</option>
<option value="5">Toa Payoh [NS19]</option>
<option value="128">Tongkang [SW7]</option>
<option value="70">Tuas Crescent [EW31]</option>
<option value="72">Tuas Link [EW33]</option>
<option value="71">Tuas West Road [EW32]</option>
<option value="325">Ubi [DT27]</option>
<option value="332">Upper Changi [DT34]</option>
<option value="45">Woodlands [NS9]</option>
<option value="107">Woodleigh [NE11]</option>
<option value="48">Yew Tee [NS5]</option>
<option value="1">Yio Chu Kang [NS15]</option>
<option value="22">Yishun [NS13]</option>

		      </select>
		      -->
		      </dd>
		    </dl>
		  <dl class="eguide">
		    <dt><strong>Alighting Station</strong></dt>
			<dd>
                 {{ render_field(form.dropDownBox1) }}
                <!--
		    <select name="mrtcode_end" >

		        <option value="index">< Select Alighting Station ></option>
				<option value="44">Admiralty [NS10]</option>
<option value="34">Aljunied [EW9]</option>
<option value="2">Ang Mo Kio [NS16]</option>
<option value="119">Bakau [SE3]</option>
<option value="57">Bangkit [BP9]</option>
<option value="201">Bartley [CC12]</option>
<option value="229">Bayfront [CE1/DT16]</option>
<option value="309">Beauty World [DT5]</option>
<option value="38">Bedok [EW5]</option>
<option value="327">Bedok North [DT29]</option>
<option value="328">Bedok Reservoir [DT30]</option>
<option value="319">Bencoolen [DT21]</option>
<option value="321">Bendemeer [DT23]</option>
<option value="3">Bishan [NS17/CC15]</option>
<option value="109">Boon Keng [NE9]</option>
<option value="27">Boon Lay [EW27]</option>
<option value="217">Botanic Gardens [CC19/DT9]</option>
<option value="4">Braddell [NS18]</option>
<option value="215">Bras Basah [CC2]</option>
<option value="103">Buangkok [NE15]</option>
<option value="31">Bugis [EW12/DT14]</option>
<option value="28">Bukit Batok [NS2]</option>
<option value="29">Bukit Gombak [NS3]</option>
<option value="54">Bukit Panjang [BP6/DT1]</option>
<option value="20">Buona Vista [EW21/CC22]</option>
<option value="216">Caldecott [CC17]</option>
<option value="307">Cashew [DT2]</option>
<option value="65">Changi Airport [CG2]</option>
<option value="122">Cheng Lim [SW1]</option>
<option value="114">Chinatown [NE4/DT19]</option>
<option value="25">Chinese Garden [EW25]</option>
<option value="30">Choa Chu Kang [NS4/BP1]</option>
<option value="11">City Hall [NS25/EW13]</option>
<option value="113">Clarke Quay [NE5]</option>
<option value="21">Clementi [EW23]</option>
<option value="19">Commonwealth [EW20]</option>
<option value="117">Compassvale [SE1]</option>
<option value="132">Coral Edge [PE3]</option>
<option value="130">Cove [PE1]</option>
<option value="209">Dakota [CC8]</option>
<option value="136">Damai [PE7]</option>
<option value="10">Dhoby Ghaut [NS24/NE6/CC1]</option>
<option value="64">Dover [EW22]</option>
<option value="303">Downtown [DT17]</option>
<option value="214">Esplanade [CC3]</option>
<option value="36">Eunos [EW7]</option>
<option value="63">Expo [CG1/DT35]</option>
<option value="58">Fajar [BP10]</option>
<option value="123">Farmway [SW2]</option>
<option value="110">Farrer Park [NE8]</option>
<option value="218">Farrer Road [CC20]</option>
<option value="126">Fernvale [SW5]</option>
<option value="318">Fort Canning [DT20]</option>
<option value="322">Geylang Bahru [DT24]</option>
<option value="69">Gul Circle [EW30]</option>
<option value="116">HarbourFront [NE1/CC29]</option>
<option value="223">Haw Par Villa [CC25]</option>
<option value="308">Hillview [DT3]</option>
<option value="219">Holland Village [CC21]</option>
<option value="104">Hougang [NE14]</option>
<option value="320">Jalan Besar [DT22]</option>
<option value="60">Jelapang [BP12]</option>
<option value="67">Joo Koon [EW29]</option>
<option value="24">Jurong East [NS1/EW24]</option>
<option value="134">Kadaloor [PE5]</option>
<option value="326">Kaki Bukit [DT28]</option>
<option value="33">Kallang [EW10]</option>
<option value="120">Kangkar [SE4]</option>
<option value="51">Keat Hong [BP3]</option>
<option value="37">Kembangan [EW6]</option>
<option value="222">Kent Ridge [CC24]</option>
<option value="23">Khatib [NS14]</option>
<option value="310">King Albert Park [DT6]</option>
<option value="105">Kovan [NE13]</option>
<option value="47">Kranji [NS7]</option>
<option value="124">Kupang [SW3]</option>
<option value="225">Labrador Park [CC27]</option>
<option value="26">Lakeside [EW26]</option>
<option value="32">Lavender [EW11]</option>
<option value="127">Layar [SW6]</option>
<option value="111">Little India [NE7/DT12]</option>
<option value="203">Lorong Chuan [CC14]</option>
<option value="207">MacPherson [CC10/DT26]</option>
<option value="13">Marina Bay [NS27/CE2]</option>
<option value="68">Marina South Pier [NS28]</option>
<option value="46">Marsiling [NS8]</option>
<option value="205">Marymount [CC16]</option>
<option value="323">Mattar [DT25]</option>
<option value="131">Meridian [PE2]</option>
<option value="210">Mountbatten [CC7]</option>
<option value="7">Newton [NS21/DT11]</option>
<option value="141">Nibong [PW5]</option>
<option value="212">Nicoll Highway [CC5]</option>
<option value="6">Novena [NS20]</option>
<option value="135">Oasis [PE6]</option>
<option value="221">one-north [CC23]</option>
<option value="8">Orchard [NS22]</option>
<option value="15">Outram Park [EW16/NE3]</option>
<option value="224">Pasir Panjang [CC26]</option>
<option value="42">Pasir Ris [EW1]</option>
<option value="35">Paya Lebar [EW8/CC9]</option>
<option value="56">Pending [BP8]</option>
<option value="55">Petir [BP7]</option>
<option value="53">Phoenix [BP5]</option>
<option value="66">Pioneer [EW28]</option>
<option value="108">Potong Pasir [NE10]</option>
<option value="213">Promenade [CC4/DT15]</option>
<option value="101">Punggol [NE17/PTC]</option>
<option value="139">Punggol Point [PW3]</option>
<option value="18">Queenstown [EW19]</option>
<option value="12">Raffles Place [NS26/EW14]</option>
<option value="121">Ranggung [SE5]</option>
<option value="17">Redhill [EW18]</option>
<option value="129">Renjong [SW8]</option>
<option value="133">Riviera [PE4]</option>
<option value="317">Rochor [DT13]</option>
<option value="118">Rumbia [SE2]</option>
<option value="137">Sam Kee [PW1]</option>
<option value="140">Samudera [PW4]</option>
<option value="59">Segar [BP11]</option>
<option value="43">Sembawang [NS11]</option>
<option value="102">Sengkang [NE16/STC]</option>
<option value="61">Senja [BP13]</option>
<option value="106">Serangoon [NE12/CC13]</option>
<option value="40">Simei [EW3]</option>
<option value="311">Sixth Avenue [DT7]</option>
<option value="9">Somerset [NS23]</option>
<option value="143">Soo Teck [PW7]</option>
<option value="50">South View [BP2]</option>
<option value="211">Stadium [CC6]</option>
<option value="314">Stevens [DT10]</option>
<option value="142">Sumang [PW6]</option>
<option value="206">Tai Seng [CC11]</option>
<option value="41">Tampines [EW2/DT32]</option>
<option value="331">Tampines East [DT33]</option>
<option value="329">Tampines West [DT31]</option>
<option value="312">Tan Kah Kee [DT8]</option>
<option value="39">Tanah Merah [EW4]</option>
<option value="14">Tanjong Pagar [EW15]</option>
<option value="52">Teck Whye [BP4]</option>
<option value="304">Telok Ayer [DT18]</option>
<option value="226">Telok Blangah [CC28]</option>
<option value="62">Ten Mile Junction [BP14]</option>
<option value="125">Thanggam [SW4]</option>
<option value="16">Tiong Bahru [EW17]</option>
<option value="5">Toa Payoh [NS19]</option>
<option value="128">Tongkang [SW7]</option>
<option value="70">Tuas Crescent [EW31]</option>
<option value="72">Tuas Link [EW33]</option>
<option value="71">Tuas West Road [EW32]</option>
<option value="325">Ubi [DT27]</option>
<option value="332">Upper Changi [DT34]</option>
<option value="45">Woodlands [NS9]</option>
<option value="107">Woodleigh [NE11]</option>
<option value="48">Yew Tee [NS5]</option>
<option value="1">Yio Chu Kang [NS15]</option>
<option value="22">Yishun [NS13]</option>
		      </select>
		      -->
		      </dd>
		    </dl>

		    <br />
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <input type="submit" value="Submit" name="submit">
		    <input type="reset" value="Reset" name="reset">
		</form>
	</section>
</section>
</article>
<br />

<p>* Click on the image below to view larger MRT / LRT Map</p>
<a href="https://www.transitlink.com.sg/images/eguide/mrt_sys_map.htm" target="_blank">
<img src="https://www.transitlink.com.sg/images/eguide/mrt_sys_map_3.jpg" width="850" border="0">
</a>
<p><strong>First and last train times:</strong></p>
<ul>
	<li>Click <a href="http://www.smrt.com.sg/Trains/TrainArrivalTime.aspx" target="_blank">here</a> for the stations of East West Line, North South Line, Circle Line and Bukit Panjang LRT.</li>
	<li>Click <a href="http://www.sbstransit.com.sg/transport/trpt_nel_1st.aspx" target="_blank">here</a> for the stations of North East Line, Downtown Line, Punggol LRT and Sengkang LRT.</li>
</ul>
</div> <!-- End Content //-->
</body>
</html>
