/* GENERAL STYLES
-------------------------------------------------*/
*{
    box-sizing: border-box;
}
body {
    font-family:Arial;
    font-size:1em;
    color:#777;
    font-weight:300;
    line-height:1.7;
    overflow-x:hidden;
}
#background{
    height:450px;
    padding-top:170px;
}

.mx-width {
    max-width:960px;
    margin:0 auto;
}

nav{
	position:fixed;
	height:70px;
	width:100%;
	top: 0;
}

.a{
	list-style-position:none;
	list-style:none;
	margin:auto;
	padding:0;
	overflow:hidden;
	display:table;

}

.nav-item{
	font-size: 100%;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
	font-family: Arial;
	font-weight: bold;
	display: table-cell;
    vertical-align:middle;

}

.mg{
	display:block;
	padding:6px 5px;
	text-align:center;
	text-decoration:none;
	color:lawngreen;
	font-size:15px;

}

li a:hover{
	background-color: black;
	color: palevioletred;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

.menu-nav{
	text-align:center;
	overflow: hidden;
	background-color:black;

}

img.logo{
	display: block;
	margin: auto;
	height: 80px;
	width: 80px;
}


/* PARALLAX
-------------------------------------------------*/
.parallax {
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important;
    overflow:hidden;
}

#banner{
    height:580px;
    padding-top:170px;
}
.row{
	color: #3A4645  ;
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
	background-color: peachpuff;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
th{
	background-color: orange;
	text-align: center;
}
td ul{
	list-style-type: square;
	float: left;
}
table, th, td{
	border: 1px dashed black;
	border-collapse: collapse;
}
th, td{
	width: 200px;
	padding: 5px;
}
table{
	width: 600px;
	margin: auto;
}



/* FOOTER
-------------------------------------------------*/
.footer {
    background:#563d7c;
    margin-top:120px;
    position:relative
}


.footer p {
    color:#fff;
    font-size:.9em;
    line-height:24px;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
}



