<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Services To Take</title>
</head>
<body>
{% extends 'includes/layout.html' %}
{% block body %}

<header>
    <div class="parallax" style="background-image: url(/static/images/train.jpg);"id="banner">
	</div>
</header>

<section id="MRT">
<div class="text-center">
<form action="/action_page.php" method="post" target="_blank">

	<strong>MRT stations</strong>:
	<select name="mrt stations">
	<option value="Bishan">Bishan</option>
    <option value="Ang Mo Kio">Ang Mo Kio</option>
    <option value="Yio Chu Kang">Yio Chu Kang</option>
    <option value="Serangoon">Serangoon</option>
    <option value="Bedok">Bedok</option>
	</select>
  <input type="submit">
</form>
</div>
</section>

<section id="AT">
<div class="text-center">
<h3> Alternative Transport </h3>
</div>

<table class="table table-bordered table-inverse" border="1px">

    <thead>
      <tr>
		<th>Bus Services from Bishan to:</th>
      </tr>
    </thead>

    <tbody>
      <tr>
		<td>Ang Mo Kio Station (NS16) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 50 </td>
      </tr>

      <tr>
		<td>Braddell Station (NS18)</td>
        <td># Bus Interchange (Exit A,D): 59 </td>
      </tr>

	  <tr>
		<td>Bugis Station (EW12)(DT14)</td>
        <td># Bus Interchange (Exit A,D): 57 </td>
      </tr>

	  <tr>
		<td>Caldecott Station (CC17)</td>
        <td># Bus Interchange (Exit A,D): 54 </td>
      </tr>

	  <tr>
		<td>Chinatown Station (NE4)(DT19) </td>
        <td># Bus Interchange (Exit A,D): 54 </td>
      </tr>

	  <tr>
		<td>Clarke Quay Station (NE5)</td>
        <td># Bus Interchange (Exit A,D): 54 </td>
      </tr>

	  <tr>
		<td>Clementi Station (EW23) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 52</td>
      </tr>

	  <tr>
		<td>Damai LRT Station (PE7) </td>
        <td># Bus Interchange (Exit A,D): 50 </td>
      </tr>

	  <tr>
		<td>Esplanade Station (CC3)</td>
        <td># Bus Interchange (Exit A,D): 56, 57 </td>
      </tr>

	  <tr>
		<td>Eunos Station (EW7) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 55</td>
      </tr>

	  <tr>
		<td>Fernvale LRT Station (SW5) </td>
        <td># Bus Interchange (Exit A,D): 50 </td>
      </tr>

	  <tr>
		<td>Fort Canning Station (DT20)</td>
        <td># Bus Interchange (Exit A,D): 54 </td>
      </tr>

	  <tr>
		<td>HabourFront Station (NE1)(CC29) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 57</td>
      </tr>

	  <tr>
		<td>Jurong East Station (NS1)(EW24) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 52</td>
      </tr>

	  <tr>
		<td>Little India Station (NE7)(DT12) </td>
        <td># Bus Interchange (Exit A,D): 56, 57 </td>
      </tr>

	   <tr>
		<td>Marymount Station (CC16) </td>
        <td># Bus Interchange (Exit A,D): 52, 54,410 </td>
      </tr>

	   <tr>
		<td>Orchard Station (NS22) </td>
        <td># Bus Interchange (Exit A,D): 54 </td>
      </tr>

	   <tr>
		<td>Punggol Station (NE17)(PTC) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 50 </td>
      </tr>

	   <tr>
		<td>Raffles Place Station (NS26)(EW14) </td>
        <td># Bus Interchange (Exit A,D): 57 </td>
      </tr>

	   <tr>
		<td>Serangoon Station (NE12)(CC13) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 53, 58</td>
      </tr>

	   <tr>
		<td>Tanjong Pagar Station (EW15) </td>
        <td># Bus Interchange (Exit A,D): 57 </td>
      </tr>

	   <tr>
		<td>Toa Payoh Station (NS19) & Bus Interchange </td>
        <td># Bus Interchange (Exit A,D): 56</td>
      </tr>

	</tbody>

</table>
</section>

{% endblock %}
</body>
</html>
