<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MRT Timing/Exits</title>
</head>
<body>
{% extends 'includes/layout.html' %}
{% block body %}

<header>

	<div class="parallax" style="background-image: url(/static/images/train.jpg); "id="banner">
	</div>

</header>

<section id="MRT">
<div class="text-center">
<form action="/action_page.php">
  <select name="mrt stations">
	<option value="Bishan">Bishan</option>
    <option value="Ang Mo Kio">Ang Mo Kio</option>
    <option value="Yio Chu Kang">Yio Chu Kang</option>
    <option value="Serangoon">Serangoon</option>
    <option value="Bedok">Bedok</option>
  </select>
  <br><br>
  <input type="submit">
</form>
</div>
</section>

	<div class="text-center">

	<h3>  CCL in the direction of HabourFront </h3>
	<h3> Bishan (CC15/NS17) MRT Station </h3>

	</div>

<table class="table table-bordered table-inverse" border="1px">

    <thead>
      <tr>
		<th></th>
        <th>Next MRT</th>
        <th>Subsequent MRT</th>
      </tr>
    </thead>

    <tbody>
      <tr>
		<td>Timing:</td>
        <td> 3 min(s) </td>
        <td> 8 min(s) </td>
      </tr>

      <tr>
		<td>Direction:</td>
        <td> HabourFront </td>
        <td> HabourFront </td>
      </tr>


    </tbody>

  </table>

	<div class="text-center">

	<h3> CCL in the direction of Dhoby Ghaut </h3>
	<h3> Bishan (CC15/NS17) MRT Station </h3>

	</div>

<table class="table table-bordered table-inverse" border="1px">

    <thead>
      <tr>
		<th></th>
        <th>Next MRT</th>
        <th>Subsequent MRT</th>
      </tr>
    </thead>

    <tbody>
      <tr>
		<td>Timing:</td>
        <td> 3 min(s) </td>
        <td> 8 min(s) </td>
      </tr>

      <tr>
		<td>Direction:</td>
        <td> Dhoby Ghaut </td>
        <td> Dhoby Ghaut </td>
      </tr>


    </tbody>

  </table>



<section id="Exits">
	<div class="text-center">
	<h3> Exits </h3>
	</div>

<table class="table table-bordered table-inverse" border="1px">

    <thead>
      <tr>
		<th>Exit</th>
        <th>Disabled access</th>
        <th>Location</th>
		<th>Nearby</th>
      </tr>
    </thead>

    <tbody>
      <tr>
		<td>A</td>
        <td>Yes</td>
        <td>Junction 8</td>
		<td>Junction 8 Shopping Centre, Bishan Bus Interchange, Bishan Community Centre, Bishan Neighbourhood
		Police Post, Bishan Public Library, Bishan-Toa Payoh Town Council (Branch Office), CPF Bishan Building,
		Lion’s Home For The Elders (Bishan), S’pore Scout Association</td>
      </tr>

      <tr>
		<td>B</td>
        <td>Yes</td>
        <td>Bishan Road (Northbound)</td>
		<td>Bishan Stadium & Swimming Complex, Catholic High School, Kuo Chuan Presbyterian Primary / Secondary School,
		Masjid An-Nahdhah Mosque, MOE Language Centre, SMRT Sports and Recreation Club, SMRT Bishan Train Depot</td>
      </tr>

	  <tr>
		<td>C</td>
        <td>Yes</td>
        <td>Bishan Road (Southbound)</td>
		<td>Raffles Institution ( Secondary and JC), Guangyang Primary / Secondary School,
		Kwong Wai Siew Peck San Theng</td>
      </tr>

	  <tr>
		<td>D</td>
        <td>Yes</td>
        <td>Bishan Bus Interchange</td>
		<td>Bishan Bus Interchange, Bishan Community Centre, Bishan-Toa Payoh Town Council (Branch Office),
		Lion’s Home For The Elders (Bishan)</td>
      </tr>

	  <tr>
		<td>E</td>
        <td>Yes</td>
        <td>Junction 8</td>
		<td>Junction 8 Basement</td>
      </tr>


    </tbody>

</table>
</section>


{% endblock %}
</body>
</html>
