<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- bootstrap content -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.slim.min.js"></script>
  <script src="/static/js/tether.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/scripts.js"></script>

  <link rel="stylesheet" href="/static/css/custom.css">
  <title>Bootstrap - TransportCitySG</title>
</head>
<body>

<!--wrapper start-->
<div class="wrapper" id="wrapper">

<nav class="navbar-inverse navbar-toggleable-md justify-content-context" style="background-color: black;">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<a href="#" class ="navbar-brand">
			<img src="/static/images/HomePageLogo.png" style="width:200px;height:100px" class="navbar" alt="TransportCitySGLogo">
		</a>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<div>
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#Home" style="color: #00FF00;">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#Mrt Timing" style="color: #00FF00;">MRT Timing & Exits</a></li>
				<li class="nav-item"><a class="nav-link" href="#MRT Route" style="color: #00FF00;">MRT Routes</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" style="color: #00FF00;" id="navbarDropdownMrtSensor/EthicsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MRT Sensor/Ethics</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMrtSensor/EthicsLink">
					<a class="dropdown-item" href="/mc">MRT Sensor</a>
					<a class="dropdown-item" href="/mh">MRT Ethics</a>
				<li class="nav-item"><a class="nav-link" href="#Mrt Details" style="color: #00FF00;">MRT Status</a></li>
				<li class="nav-item"><a class="nav-link" href="#Public Transportation" style="color: #00FF00;">Public Transportation</a></li>
				<li class="nav-item"><a class="nav-link" href="#Mrt Details" style="color: #00FF00;">Feedback</a></li>
			</ul>
		</div>
   </div>
	
	</div>
</nav>
</div>
<!--header-->
<header>

	<div class="parallax" style="background-image: url(/static/images/transport.jpg);" id="banner"> </div>



</header>

<div id="secondsection" style="background-color: #666666;color:white;text-align:center;">
	<h2 style="color:white;">What does our site provide?</h2>
	<ul style="display: inline-block;text-align: left;">
		<li>MRT schedule</li>
		<li>RoutePlanning</li>
		<li>Fare calculator for train and bus</li>
        <li>MRT Shortcut route</li>
		<li>MRT Carriage</li>
		<li>MRT Ethics</li>
        <li>Public & Private Transport Comparison</li>
		<li>PSI calculator</li>
		<li>MRT Details</li>
	</ul>
</div>
<br/>
<div style="text-align: center " class="row">
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Schedule</h1>
    <p>MRT schedule, when does the train arrive, subsequent train arrival timings, information about the exits of the mrt station</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>Route Planning</h1>
    <p>When train breaks down, what bus to take to destination.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>Bus Fare Calculator</h1>
        <p>Tool to calculate the fare of each bus trip. Tool to calculate the time taken for each bus trip.</p>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Fare Calculator</h1>
    <p>Tool to calculate the fare of each train trip.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Shortcut route</h1>
    <p>Shopping sites are a collection of different trustable shopping sites! It compares and show reviews of website so that the users could pick on what website they wants to use.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>Mrt Carriage</h1>
    <p>Reduce the problem of crowded places in mrt stations, help people know where to go so as to help board the train.</p>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Ethics</h1>
    <p>Quiz on Mrt Ethics to educate and address daily problems faced by commuters</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>Public & Private Transport Comparison</h1>
    <p>When train breaks down, what bus to take to destination.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>PSI Calculator</h1>
        <p>???</p>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Ethics</h1>
    <p>Quiz on Mrt Ethics to educate and address daily problems faced by commuters</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>Public & Private Transport Comparison</h1>
    <p>When train breaks down, what bus to take to destination.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>PSI Calculator</h1>
        <p></p>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Details</h1>
    <p>Breakdown Notice, current status of the train line (normal/disruption), when does train start or end? Provide estimated delay on train disruptions.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>MRT Status</h1>
    <p>When train breaks down, what bus to take to destination.</p>
    </div>
    <div class="col-md-4">
        <img src="/static/images/" style="width:200px;height:200px;"/>
    <h1>Feedback Form</h1>
        <p>Feedback, collect data about User Experience </p>
</div>
<!--footer-->
<section class="footer" id="footer">
    <p style= "text-align: center">&copy; 2017 - Smart Mobility</p>
</section>
<!-- wrapper -->

</body>
</html>
